<?xml version="1.0"?>
<config>
    <modules>
        <MageCourse_CustomShelves>
            <version>1.0.2</version>
        </MageCourse_CustomShelves>
    </modules>
    <global>
        <models>
            <magecourse_customshelves>
                <class>MageCourse_CustomShelves_Model</class>
                <resourceModel>magecourse_customshelves_resource</resourceModel>
            </magecourse_customshelves>
            <magecourse_customshelves_resource>
                <class>MageCourse_CustomShelves_Model_Resource</class>
                <entities>
                    <shelf>
                        <table>magecourse_customshelves_shelf</table>
                    </shelf>
                    <shelf_product>
                        <table>magecourse_customshelves_shelf_product</table>
                    </shelf_product>
                </entities>
            </magecourse_customshelves_resource>
        </models>
        <resources>
            <magecourse_customshelves_setup>
                <setup>
                    <module>MageCourse_CustomShelves</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </magecourse_customshelves_setup>
        </resources>
        <helpers>
            <magecourse_customshelves>
                <class>MageCourse_CustomShelves_Helper</class>
            </magecourse_customshelves>
        </helpers>
        <blocks>
            <magecourse_customshelves_adminhtml>
                <class>MageCourse_CustomShelves_Block_Adminhtml</class>
            </magecourse_customshelves_adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <magecourse_customshelves after="Mage_Adminhtml">MageCourse_CustomShelves_Adminhtml</magecourse_customshelves>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <magecourse_customshelves>
                    <file>magecourse_customshelves.xml</file>
                </magecourse_customshelves>
            </updates>
        </layout>
        <translate>
            <modules>
                <MageCourse_CustomShelves><!-- Il nome di questo nodo è arbitrario -->
                    <files>
                        <default>MageCourse_CustomShelves.csv</default>
                    </files>
                </MageCourse_CustomShelves>
            </modules>
        </translate>
    </adminhtml>
</config>
